/*
globals
*/

:root{
    --border: var(--border-size-1) solid var(--surface-4)
}

.flex-md-row {
    display: flex;
    gap: var(--size-3);
}


.flex-sm-row {
    display: flex;
    gap: var(--size-2);
}

.flex-xs-row {
    display: flex;
    gap: var(--size-1);
}

.vl {
  border-left: 2px solid var(--surface-3);
  width: 2px;
  height: 24px;
}

hr {
    flex: 1 0 100%;
    margin: 0;
}

/* 
app-header
*/

/* 
app-navbar
*/

nav {
    width: calc(100% - (var(--size-3) * 2));
}

nav#main-navigation {
    flex-wrap: wrap;
    align-items: center;
    margin: auto;

    h1, h2 {
        font-size: var(--font-size-2);
    }

    h2 {
        max-inline-size: 100%;
    }

    > div[data-navbar="page-title"]{
        flex: 1 2 max-content;
    }
    > div[data-navbar="actions"]{
        flex: 0 1 auto;
    }
    
}

@media screen and (width >= 900px) {
    nav#main-navigation{
        > *:not(hr) {
        height: var(--size-fluid-5);
        display: flex;
            > * {
                margin: auto 0;
            }
        }
    }
}

/* 
weather-day
*/

.card {
  box-shadow: var(--shadow-1);
  border: var(--border);
  border-radius: var(--radius-4);
  background-color: color-mix(in srgb, var(--surface-1), var(--surface-2) 40%);

  &:hover {
    box-shadow: var(--shadow-3);
  }
}