/* https://codepen.io/kariymam/pen/YPyxpMP?editors=0010 */

:root {
    --orange: rgb(177, 15, 0);
    --bg-orange-500: var(--orange);
    --bg-orange-400: rgb(213, 61, 0);
    --bg-orange-300: rgb(249, 96, 31);
    --bg-orange-200: rgb(255, 129, 71);
    --bg-orange-100: rgb(255, 163, 105);
    --bg-orange-0: rgb(255, 197, 138);

    --green: rgb(181, 255, 233);
    --bg-green-300: rgb(83, 172, 138);
    --bg-green-200: rgb(116, 204, 169);
    --bg-green-100: rgb(148, 237, 201);
    --bg-green-0: var(var(--green));

    --blue: rgb(0, 108, 125);
    --bg-blue-300: rgb(0, 1, 12);
    --bg-blue-200: rgb(0, 30, 47);
    --bg-blue-100: rgb(0, 68, 84);
    --bg-blue-0: var(--blue);
    --sky-background: linear-gradient(
        to bottom,
        #6cabf2 45%,
        #a5b8d6ff 67%,
        #b4cbffff 77%,
        #f9f4c9ff 100%
        );

}