.background {
	position: absolute;
	inset: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
	z-index: 0;
}

section:has(.background) *:not(.background) {
	z-index: 1;
}

.background::before {
	content: '';
	display: block;
	block-size: 100%;
	inline-size: 100%;
	inset-block: 0;
	position: absolute;
}

video {
	block-size: 100%;
	inline-size: 100%;
	inset-block: 0;
	object-fit: cover;
}

/** 
weather-dashboard
**/


.dashboard {
	--dashboard-gap: 32px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: var(--dashboard-gap);
	row-gap: var(--dashboard-gap);
	justify-content: stretch;
	align-content: stretch;
	align-items: center;
	height: max-content;
	z-index: 1;
	position: relative;
}

.dashboard section {
    display: grid;
    grid-template-rows: minmax(auto, 68px) 1fr auto;
    height: 100%;
	position: relative;
} 

.dashboard__1 {
	overflow: hidden;
	background: var(--sky-background);
}


.dashboard__1 h2 ~ .current {
	height: fit-content;
    margin: auto;
}

.dashboard__4 {
	padding: 1rem;
}

.v-col:has(.current) {
	display: flex;
    flex-flow: column;
	height: 100%;
}

@media screen and (width >= 900px) {

	.dashboard {
		grid-template-columns: repeat(12, 1fr);
		padding: 16px var(--dashboard-gap) 16px var(--dashboard-gap);
		height: 100vh;
	}

	.dashboard__1 {
		grid-column: 1 / 7;
		grid-row: 1;
		flex-flow: column nowrap;
	}
	
	.dashboard__2 {
		grid-column: 7 / 13;
		grid-row: 1;
	}
	
	.dashboard__3 {
		grid-column: 1 / 4;
		grid-row: 2;
	}
	
	.dashboard__4 {

		--padding: 1rem 2rem;

		display: flex;
		flex-flow: column nowrap;
		grid-column: 4 / 13;
		grid-row: 2;

		padding: 0;

		h2 {
			padding: var(--padding);
		}
	}
	
}

/** 
weather-current
**/

.currentTemperature {
  display: flex;
}

.currentTemperature h2::after {
  content: '°F';
  position: absolute;
  font-size: large;
  line-height: 4.35rem;
  right: -24px;
  margin-left: 0.5rem;
  top: 0;
  bottom: 0;
}

.currentTemperature h2 {
  display: flex;
  font-size: 4.35rem;
  position: relative;
}


/** 
weather-by7day
**/

.by7DayContainer {
	display: grid;
	grid-template-columns: 12px 1fr 12px;
	grid-template-rows: minmax(max-content, 1fr);
	padding: 12px 0;
	> * {
		grid-column: 2 / -2;
	}
	> .full {
		grid-column: 1 / -1;
	}
}


#periodsByDay {
	--column-gap: 0.5em;
	--row-gap: 1em;
	--border-radius: 1em;
	/* --grid: auto / auto; */
	--grid: auto 1fr / repeat(7, auto);
	--font-size-smallest: 0.75rem;
	--scroll-shadow-left: no-repeat left/ 20% radial-gradient(circle at left, rgba(0, 0, 0, 0.2), transparent);
	--scroll-shadow-right: no-repeat right/ 20% radial-gradient(circle at right, rgba(0, 0, 0, 0.2), transparent);

	display: grid;
	grid-gap: 10px;
	grid-template: var(--grid);
	column-gap: var(--column-gap);
	row-gap: var(--row-gap);
	padding: var(--row-gap) calc(var(--row-gap) * 2) 0.5rem var(--row-gap);
	position: relative;
	border-radius: var(--border-radius);
	/* background: var(--scroll-shadow-left),
	var(--scroll-shadow-right); */
	transition-property: background;
	grid-auto-flow: row;
	overflow-x: scroll;
	overflow-y: none;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	scroll-snap-align: start end;
	scroll-snap-stop: always;
}


/** 
weather-day
**/

.day {
	display: flex;
	flex-flow: column nowrap;
}

.day article {
	display: grid;
	grid-template-areas: 
	"header header"
	"image  image"
	"temp   rain "
	;
	grid-template-rows: auto 1fr auto;
  	grid-template-columns: 1fr 1fr;
	padding: 1em;
	width: v-bind(cardWidth);
	height: v-bind(cardHeight);
	position: relative;
}

.day h1 {
	font-size: 1em;
}

.day small {
	opacity: 0.5;
}

.day__card {
	height: 100%;
	width: 248px;
}

.day__description {
	grid-area: image;
	display: flex;
	flex-direction: column;
}

.day__description img {
	margin: auto;
}

.day__header {
	grid-area: header;
}

.day__temperatures {
	grid-area: temp;
}

.day__precipitation {
	grid-area: rain;
	width: fit-content;
    height: fit-content;
	align-self: end;
    justify-self: end;
}