:root {
    --global-padding: 12px;
}

header {
    padding: 0 var(--global-padding);
}

/* .dashboard section {
    display: grid;
    grid-template-rows: minmax(auto, 68px) 1fr auto;
    height: 100%;
}  */

section header {
	padding: var(--global-padding) calc(var(--global-padding) * 2) var(--global-padding) calc(var(--global-padding) * 2);
}